

$highlight-color: #FF8F14;;
$muted-color: grey;
$error-color: red;

@mixin transition($radius) {
  -webkit-transition: $radius;
     -moz-transition: $radius;
      -ms-transition: $radius;
          transition: $radius;
}

/* skeletton overwrite */

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #FFF;
  background-color: $highlight-color;
  border-color: $highlight-color;
}



/*start*/




html {
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI' sans-serif;
  font-style: normal;
  font-weight: 300;
  min-height:88vh;
}

muted {
  color: $muted-color;
}


p.error{
  color:$error-color
}

p.record {
  margin-bottom: 1.5rem;
}

hr.small{
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}


.pre {
  white-space: pre; 
}

.no-wrap {
  white-space: nowrap;
}


h6 {
  text-transform: uppercase;
  border-bottom: 1px solid $highlight-color;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.footer {
  text-align: center;
  font-size: 70%;
  color:$muted-color;
}

/* header */

#header {
  padding:10px;
  color: $highlight-color;

  h1 {
    display: inline-block;
    line-height: 50px;
    margin-bottom: 0px;
    vertical-align: top;
    padding-left: 10px;
  }

  svg {
    width: 50px;
  }
}