$highlight-color: #FF8F14;
$darkred: #761602;
$black: #0e0f0e;
$white: #FAFAFA;
$muted-color: grey;
$error-color: red;

@mixin transition($radius) {
    -webkit-transition: $radius;
    -moz-transition: $radius;
    -ms-transition: $radius;
    transition: $radius;
}

@mixin linear-gradient($fromColor,
$toColor) {
    background-color: $toColor;
    /* Fallback Color */
    
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
    /* Saf4+, Chrome */
    
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    
    background-image: -moz-linear-gradient(top, $fromColor, $toColor);
    /* FF3.6 */
    
    background-image: -ms-linear-gradient(top, $fromColor, $toColor);
    /* IE10 */
    
    background-image: -o-linear-gradient(top, $fromColor, $toColor);
    /* Opera 11.10+ */
    
    background-image: linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
/* skeletton overwrite */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: $highlight-color;
    border-color: $highlight-color;
    border: 1px solid $black;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: $darkred;
    color: $white;
    border: 1px solid $black;
}

select,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    background-color: $darkred;
    color: $white;
    border: 1px solid $black;
}
/*start*/

html {
    background-color: $darkred;
    @include linear-gradient($darkred, $black);
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI' sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 80px;
    color: $white;
}

muted {
    color: $muted-color;
}

p.error {
    color: $error-color
}

p.record {
    margin-bottom: 1.5rem;
}

hr.small {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

.pre {
    white-space: pre;
}

.no-wrap {
    white-space: nowrap;
}

h6 {
    text-transform: uppercase;
    border-bottom: 1px solid $highlight-color;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
/* background fire */

#red-yellow {
    width: 100%;
    position: fixed;
    left: -50%;
    bottom: -40%;
    z-index: -1;
}
/* footer */

.footer {
    text-align: center;
    font-size: 70%;
    color: $muted-color;
}
/* header */
@media (orientation: portrait) {
    #header {
        height: 20vw;
        
        h1 {
            line-height: 5vw;
            font-size: 8vw;
        }
        svg {
            width: 16vw;
            margin-top: 2vw;
            margin-left: 22vw;
        }
    }
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(118, 22, 2, 0.8);
    padding: 0;
    color: $highlight-color;
    
    h1 {
        display: inline-block;
        font-family: 'Alegreya SC', serif;
        font-weight: 900;
        margin-bottom: 0;
    }
}