/* Base Color 
----------------------------------------- */
$highlight-color: #FF8F14;
$darkred: #761602;
$black: #0e0f0e;
$white: #FAFAFA;
$muted-color: grey;
$error-color: red;

/* Mixins
----------------------------------------- */
@mixin transition($radius) {
    -webkit-transition: $radius;
    -moz-transition: $radius;
    -ms-transition: $radius;
    transition: $radius;
}

@mixin linear-gradient($fromColor,
$toColor) {
    background-color: $toColor;
    /* Fallback Color */
    
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
    /* Saf4+, Chrome */
    
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    
    background-image: -moz-linear-gradient(top, $fromColor, $toColor);
    /* FF3.6 */
    
    background-image: -ms-linear-gradient(top, $fromColor, $toColor);
    /* IE10 */
    
    background-image: -o-linear-gradient(top, $fromColor, $toColor);
    /* Opera 11.10+ */
    
    background-image: linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/* skeletton overwrite 
----------------------------------------- */
/* button */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: $black;
    background-color: $highlight-color;
    border: none;
    
    &:hover {
        background-color: $highlight-color;    
    }
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid $highlight-color;
    color: $highlight-color;
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    text-transform: none;
}
@media (orientation: portrait) {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        font-size: 5vw;
        height: 16vw;
        line-height: 15vw;
    }
}
@media (orientation: landscape) {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        font-size: 2.5vw;
        height: 8vw;
        line-height: 7.5vw;
    }
}
.btn-back {
    background-color: transparent;
    border: none;
    color: $white;
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}
@media (orientation: portrait) {
    .btn-back {
        font-size: 14vw;
        height: 20vw;
        line-height: 18vw;
        width: 20vw;
    }
}
@media (orientation: landscape) {
    .btn-back {
        font-size: 7vw;
        height: 10vw;
        line-height: 9vw;
        width: 10vw;
    }
}
select,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    border: none;
    
    &:focus {
        border: none;
    }
}

/* Layout 
----------------------------------------- */
.bg-gradient {
    background-color: $darkred;
    @include linear-gradient($darkred, $black);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI' sans-serif;
    font-style: normal;
    font-weight: 300;
    color: $white;
}
@media (orientation: portrait) {
    body {   
        padding-top: 26vw;
    }
}
@media (orientation: landscape) {
    body {   
        padding-top: 13vw;
    }
}
muted {
    color: $muted-color;
}
/* header */

@media (orientation: portrait) {
    #header {
        height: 20vw;
        h1 {
            line-height: 5vw;
            font-size: 8vw;
        }
        svg {
            width: 16vw;
            margin-top: 2vw;
            margin-left: 22vw;
        }
    }
    h4 {
        font-size: 7vw;
    }
}
@media (orientation: landscape) {
    #header {
        height: 10vw;
        h1 {
            line-height: 2.5vw;
            font-size: 4vw;
        }
        svg {
            width: 8vw;
            margin-top: 1vw;
            margin-left: 11vw;
        }
    }
    h4 {
        font-size: 3.5vw;
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(118, 22, 2, 0.8);
    padding: 0;
    color: $highlight-color;
    h1 {
        display: inline-block;
        margin-bottom: 0;
    }
}
/* footer */
.footer {
    text-align: center;
    font-size: 70%;
    color: $muted-color;
}

/* Fonts
----------------------------------------- */
h1,
h4 {
    color: $highlight-color;
    font-family: 'Alegreya SC', serif;
    letter-spacing: 0rem;
}

h1 {
    font-weight: 900;
}

h4 {
    font-weight: 700;
}

p.error {
    color: $error-color
}

p.record {
    margin-bottom: 1.5rem;
}

hr.small {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

.pre {
    white-space: pre;
}

.no-wrap {
    white-space: nowrap;
}
/* background fire */

#red-yellow {
    width: 100%;
    position: fixed;
    left: -50%;
    bottom: -10%;
    z-index: -1;
}
