/* SASS Support Available */
/* Colors
  ----------------------------------------- */

$highlight-color: white;
$muted-color: #dcc094;
$important-color: #761602;
$text-highlight: #ff8f14;
$text-inverse: #ff8f14;
$text-dark: #0e0f0e;
/* Skeleton Layout
  ----------------------------------------- */

a {
    color: $muted-color;
    text-decoration: none;
}
/* Main Layout
  ----------------------------------------- */
body {
    color: $text-inverse;
    font-family: 'Alegreya', serif;
    margin: 0px;
}
/* Fonts
  ----------------------------------------- */

h1 {
    letter-spacing: 0;
}
/* section 1
  ----------------------------------------- */
.section-01 {
    background: transparent no-repeat scroll;
    height: 100vh;
    width: 100vw;
}

@media (orientation: portrait) {
    .section-01 {
        background-image: url("../img/bg-coal-fullhd-pt.jpg");
        background-position: 0 0;
        background-size: cover;
    }
}

@media (orientation: landscape) {
    .section-01 {
        background-image: url("../img/bg-coal-fullhd-ls.jpg");
        background-position: 0 0;
        background-size: cover;
    }
}

.og-logo {
    
    background: transparent url("../img/og-logo_yellow.svg") no-repeat scroll;
    background-position: 0 24vh;
    padding-top: 24vh;
    h1 {
        color: $text-highlight;
        font-family: 'Alegreya SC', serif;
        font-weight: 900;
        line-height: 0.6em;
        margin: 0;
    }
    h5 {
        font-style: italic;
        font-weight: 400;
    }
}

@media (orientation: portrait) {
    .og-logo {
        background-size: 20vw 20vw;
        height: 30vh;
        margin-left: 8vw;
        width: 80vw;
        
        h1 {
            font-size: 16vw;
            margin-left: 24vw;
            span {
                margin-left: -4vw;
            }
            small {
                font-weight: 400;
                font-size: 40%;
                margin-left: -10vw;
            }
        }
        h5 {
            font-size: 4vw;
            margin-left: 14vw;
            margin-top: 3vw;
        }
        li {
            margin-left: 14vw;
            font-size: 3vw;
        }
    }
}

@media (orientation: landscape) {
    .og-logo {
        background-size: 20vh 20vh;
        height: 30vh;
        margin-left: 24vh;
        width: 80vh;
        
        h1 {
            font-size: 16vh;
            margin-left: 24vh;
            span {
                margin-left: -4vh;
            }
            small {
                font-weight: 400;
                font-size: 40%;
                margin-left: -10vh;
            }
        }
        h5 {
            font-size: 4vh;
            margin-left: 20vh;
            margin-top: 3vh;
        }
        li {
            margin-left: 20vh;
            font-size: 3vh;
        }
    }
}

/* Screenshot
  ----------------------------------------- */

#mobile-screenshot {
    display: none;
    position: fixed;
    top: 100px;
    width: 30%;
    max-width: 400px;
}

@media (min-width: 600px) {
    #mobile-screenshot {
        display: block;
        right: 0%;
    }
}

@media (min-width: 1200px) {
    #mobile-screenshot {
        display: block;
        left: 50%;
    }
}
/* Footer
  ----------------------------------------- */

.footer {
    color: $muted-color;
    font-size: 10px;
}

@media (orientation: portrait) {
    .footer {
        bottom: 3vw;
        left: 24vw;
        position: fixed;
        
        span {
            display: block;
        }
    }
}

@media (orientation: landscape) {
    .footer {
        bottom: 3vh;
        left: 24vh;
        position: fixed;
        span {
            display: inline-block;
            margin-right: 32px;
        }
    }
}